{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        &rsaquo; <a href="/admin/treatment/">{% trans 'Treatments' %}</a>
        &rsaquo; <a href="{% url 'occurrences_list' 'treatments' %}">{% trans 'Turns' %}</a>
        &rsaquo; <a href="{{ occurrence.get_edit_url }}">{{ occurrence }}</a>
        {% if occurrence.cancelled %}
            &rsaquo; {% trans 'Uncancel' %}
        {% else %}
            &rsaquo; {% trans 'Cancel' %}
        {% endif %}
    </div>
{% endblock %}

{% block content %}
    <div id="content" class="cf colM">

        {% if occurrence.cancelled %}
            <p>{% trans 'Are you sure you want to uncancel the appointment' %} "{{ occurrence.start|date:_("DATETIME_FORMAT") }}"?</p>

            <div class="undelete-summary uncancel">
                <div class="undelete-summary-buttons">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div>
                            <input type="hidden" name="post" value="yes">


                            <input type="submit" class="button-ṕrimary" value="Yes, I'm sure">
                            <a href="#" onclick="window.history.back(); return false;" class="cancel-link button button-red">No, take me back</a>
                        </div>
                    </form>
                </div>

                <h2>Summary</h2>
                <ul>

                    <li><h3>{{ occurrence.title }}</h3></li>
                    <li><strong>From</strong> {{ occurrence.start|date:_("DATETIME_FORMAT") }}</li>
                    <li><strong>to</strong> {{ occurrence.end|date:_("DATETIME_FORMAT") }}</li>
                    <li>
                        <hr/></li>
                    <li><strong>{% trans 'Therapist' %}</strong> <a href="{{ occurrence.therapist.get_absolute_url }}">{{ occurrence.therapist }}</a></li>
                    <li><strong>{% trans 'Patient' %}</strong> <a href="{{ occurrence.patient.get_absolute_url }}">{{ occurrence.patient }}</a></li>
                </ul>

            </div>
        {% else %}
            <p>{% trans 'Are you sure you want to cancel the appointment' %} "{{ occurrence.start|date:_("DATETIME_FORMAT") }}"?</p>

            <div class="delete-summary">
                <div class="delete-summary-buttons">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="form-row field-reason-cancelation" style="position: absolute; left: 60px;">
                            <div>
                                <label for="reason_cancelation">{% trans 'Reason for cancelation' %}</label>
                                <input type="text" required="true" name="reason_cancelation"/>
                                {% if error %}
                                    <strong>*{{ error }}</strong>
                                {% endif %}
                            </div>
                        </div>

                        <div>
                            <input type="hidden" name="post" value="yes">


                            <input type="submit" class="button-red" value="Yes, I'm sure">
                            <a href="#" onclick="window.history.back(); return false;" class="cancel-link button button-background">No, take me back</a>
                        </div>
                    </form>
                </div>

                <h2 style="margin-top: 50px;">Summary</h2>
                <ul>

                    {% if occurrence.title %}<li><h3>{{ occurrence.title }}</h3></li>{% endif %}
                    <li><strong>From</strong> {{ occurrence.start|date:_("DATETIME_FORMAT") }}</li>
                    <li><strong>to</strong> {{ occurrence.end|date:_("DATETIME_FORMAT") }}</li>
                    <li>
                        <hr/></li>
                    <li><strong>{% trans 'Therapist' %}</strong> <a href="{{ occurrence.therapist.get_absolute_url }}">{{ occurrence.therapist }}</a></li>
                    <li><strong>{% trans 'Patient' %}</strong> <a href="{{ occurrence.patient.get_absolute_url }}">{{ occurrence.patient }}</a></li>
                </ul>
            </div>
        {% endif %}

    </div>
{% endblock %}




