{% load i18n admin_static scheduletags %}
<style>
    @media (max-width: 600px) {
        #form-row-filtered{
            display: block !important;
        }
        .changelist-filter.background-form{
            display: block;
        }

        .column-therapist, .column-patient{
            display: none;
        }

        .results{
            margin-right: -20px;
            margin-left: -20px;
        }
        /*#result_list{
            display: block;
        }*/

    }
    .select2.select2-container.select2-container--jet{
        margin-right: 5px;
    }
    .select2-container.select2-container--jet.select2-container--open .select2-dropdown.select2-dropdown--below{
        margin-top: -6px;
    }

    .button.button-primary.input-filter.last:hover{
        margin-left: 5px;
    }
</style>
{% load personpermission %}
<div class=" filtered" id="changelist">
    <div class="cf">
        <div id="changelist-filter" class="changelist-filter background-form">
            <form id="changelist-search" action="">
                <div class="form-row" id="form-row-filtered" style="display: inline-flex;">
                    <div class="datetime1 input-filter first">
                        <input class="vDateField" id="start" name="start" size="10" type="text" value='{{start|date:"Y-m-d"}}'/>
                    </div>
                    <div class="datetime1 input-filter">
                        <input class="vDateField" id="end" name="end" size="10" type="text" value='{{end|date:"Y-m-d"}}'/>
                    </div>
                    {% if request.user|can_filter_by_therapist %}
                        <select name="therapist" class="no-select2 input-filter  changelist-filter-select" tabindex="-1" aria-hidden="true">
                            <option disabled="" data-url="?">therapist</option>
                            <option value="">Therapist</option>
                            {% for therapist in therapists %}
                                <h3>{{therapist.id}}</h3>
                                {% ifequal selected_therapist therapist.id %}
                                    <option selected="selected" value="{{ therapist.id }}">{{ therapist }}</option>
                                {% endifequal %}

                                <option
                                        {% ifequal request.GET.therapist|add:"0" therapist.id|add:"0" %}
                                            selected="selected"
                                        {% endifequal %}
                                            value="{{ therapist.id }}">{{ therapist }}</option>
                            {% endfor %}
                        </select>
                    {% endif %}

                    <select name="patient" class="no-select2 input-filter changelist-filter-select" tabindex="-1" aria-hidden="true">
                        <option disabled="" data-url="?">patient</option>
                        <option value="">Client</option>
                        {% for patient in patients %}
                            <option value="{{ patient.id }}"
                                    {% ifequal request.GET.patient|add:"0" patient.id|add:"0" %}
                                    selected="selected"
                                    {% endifequal %}

                                    >{{ patient }}</option>
                        {% endfor %}
                    </select>

                    <select style="min-width: 80px;" name="status" class="no-select2 input-filter changelist-filter-select" tabindex="-1" aria-hidden="true">
                        <option disabled="" data-url="?">patient</option>
                        <option value="">Status</option>
                        {% for key, label in STATUS_CHOICES %}
                            <option value="{{ key }}"
                                    {% ifequal request.GET.status|add:"0" key|add:"0" %} selected="selected" {% endifequal %} >
                                {{ label }}
                            </option>
                        {% endfor %}
                    </select>
                    <button class="button button-primary input-filter last" type="submit">{% trans 'search' %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% if results %}
    <div class="results">
        <table id="result_list" class="table">
            <thead>
            <tr>
                {% for header in result_headers %}
                    <th scope="col" class="column-{{ header }}">
                        <div class="text"><span>{{ header|capfirst }}</span></div>
                        <div class="clear"></div>
                    </th>{% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for result in results %}
                <tr class="{% cycle 'row1' 'row2' %}">
                    <td class="column-status">
                        {% if result.cancelled %}
                            <a href="{{ result.url_edit }}"><div style="background-color: #c14747; width: 20px; height: 20px; border-radius: 50%;"></div></a>
                        {% else %}
                            <a href="{{ result.url_edit }}"> <div style="background-color: #82b982; width: 20px; height: 20px; border-radius: 50%;"></div></a>
                        {% endif %}
                    </td>
                    <td class="column-therapist">{{ result.therapist }}</td>
                    <td class="column-patient">{{ result.patient }}</td>
                    <td class="column-start">{{ result.start }}</td>
                    <td class="column-end">{{ result.end }}</td>
                    {% if request.user|can_filter_by_therapist %}
                        <td class="column-price">
                            $ {{ result.price }}
                        </td>
                        <td class="colum-therapist-pay">
                            $ {{ result.therapist_pay }}
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <span style="float: left; font-weight: bold;">
        Total result {{ results|length }}
    </span>
    {% if request.user|can_filter_by_therapist %}
        <h3 style="text-align: right; padding-right: 20px;">{% trans 'Total amount..' %} $ {{ total_amount|floatformat }}</h3>
        <h3 style="text-align: right; padding-right: 20px;">{% trans 'Total therapist ammount..' %} $ {{ total_therapist_amount|floatformat }}</h3>
    {% endif %}

{% else %}
    <h3>There's no Results</h3>
{% endif %}
