{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_modify jet_tags staticfiles %}

{% block extrahead %}
    {#    <script type="text/javascript" src="/jet/jsi18n/"></script>#}
    {#    <script>var django = {};  django.gettext = function(txt){ return txt }</script>#}

{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        &rsaquo; <a href="/treatment/">{% trans 'Treatments' %}</a>
        &rsaquo; <a href="{% url 'occurrences_list' 'treatments' %}">{% trans 'Appointments' %}</a>
        &rsaquo; {{ occurrence }}
    </div>
{% endblock %}


{% block content %}
    <script type="text/javascript" src="{% static "bower_components/jquery/dist/jquery.js" %}"></script>

    <div id="content-main">
        {% comment %}{% block object-tools %}
            <div class="changeform-object-tools">
                <ul class="object-tools horizontal">
                    {% block object-tools-items %}
                        <li><a href="{% url 'admin:treatment_note_add' %}" class="addlink">{% trans 'Add note' %}</a></li>
                    {% endblock %}
                </ul>
            </div>

        {% endblock %}{% endcomment %}

        <form action="" method="post">
            {% csrf_token %}
            <div class="changeform">
                <ul class="changeform-tabs">
                    <li class="changeform-tabs-item selected">
                        <a href="#" class="changeform-tabs-item-link" data-module-id="module_0">
                            {% trans 'Turn/Event' %}
                        </a>
                    </li>
                    <li class="changeform-tabs-item">
                        <a href="#" class="changeform-tabs-item-link" data-module-id="inline_module_0">
                            {% trans 'Notes' %}
                        </a>
                    </li>
                </ul>

                <fieldset class="module aligned  selected" id="module_0" style="position: relative;">
                    {% if form.instance.cancelled %}
                        <div style="color: #fff; padding: 5px; max-width: 190px; background-color: #cf4a27; position: absolute; right: 10px; top: 10px;">
                            <h3 style="text-align: center;">{% trans 'Cancelled' %}</h3>
                            <p style="font-size: 0.9em;">By {{ form.instance.cancelation_reason }}</p>
                        </div>
                    {% endif %}
                    {{ form.media }}
                    {{ form.non_field_errors }}
                    <div class="form-row field-patient">
                        <div>
                            <label for="patient">Patient</label>
                            <input type="text" style="font-weight: bold;" disabled="true" value="{{ form.instance.patient }}"/>
                        </div>
                    </div>
                    {% for field in form.visible_fields %}

                        <div class="form-row field-{{ field.name }} {% if field.errors %}errors{% endif %}">
                            <div>
                                {{ field.label_tag }}
                                {{ field }}
                            </div>
                            {% if field.errors %}
                                {{ field.errors }}
                                {% comment %}<ul class="errorlist">
                                {% for error in form.title.errors %}

                                {% endfor %}
                            </ul>{% endcomment %}
                            {% endif %}
                        </div>
                    {% endfor %}
                </fieldset>

                {% include 'admin_custom_view/render_formset.html'  %}

                <div class="submit-row">
                    <input type="submit" class="default" value="{% trans "Save" %}">
                    <a href="#" onclick="window.history.back(); return false;" class="button button-red">{% trans 'Cancel' %}</a>
                    {% if not form.instance.cancelled %}
                        <p class="deletelink-box">
                            <a href="{{ form.instance.get_cancel_url }}" class="deletelink button button-red">{% trans 'Cancel appointment' %}</a>
                        </p>
                    {% else %}
                        <p class="deletelink-box">
                            <a href="{{ form.instance.get_cancel_url }}" class="button button-primary">{% trans 'Uncancel appointment' %}</a>
                        </p>
                    {% endif %}
                </div>


            </div>
        </form>
    </div>
    <script type="application/javascript" src="{% static 'admin/js/inlines.js' %}"></script>
{% endblock %}