{% extends "admin/base_site.html" %}
{% load i18n staticfiles scheduletags %}

{% block head_title %}{% trans 'Fullcalendar' %}{% endblock %}
{% block tab_id %}id='home_tab'{% endblock %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static "schedule.css" %}" type="text/css" media="screen">
    <script type="text/javascript" src="{% static "bower_components/jquery/dist/jquery.js" %}"></script>
    <link rel='stylesheet' type='text/css' href='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.1/fullcalendar.min.css'>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.js'></script>
    <!--<script type='text/javascript' src='http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.min.js'></script>-->
    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.1/fullcalendar.js'></script>
    <style>
        .btn-action-calendar{
            padding: 3px !important;
            line-height: 15px !important;
            width: 15px !important;
            height: 15px !important;
            margin-right: 5px !important;
            float: right;
            box-sizing: inherit !important;
        }
        #dialog-footer{
            margin-top: 10px;
        }
        #dialog-footer .button{
            margin-left: 5px;
            margin-right: 5px;
        }

        #dialog-footer .button.first{
            margin-left: 0px;
        }

        #dialog-footer .button.last{
            margin-right: 0px;
        }
    </style>
    <script type='text/javascript'>

        $(document).ready(function() {

            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            function sameOrigin(url) {
                // test that a given url is a same-origin URL
                // url could be relative or scheme relative or absolute
                var host = document.location.host; // host + port
                var protocol = document.location.protocol;
                var sr_origin = '//' + host;
                var origin = protocol + sr_origin;
                // Allow absolute or scheme relative URLs to same origin
                return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                        (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                    // or any other URL that isn't scheme relative or absolute i.e relative.
                        !(/^(\/\/|http:|https:).*/.test(url));
            }

            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                        // Only send the token to relative URLs i.e. locally.
                        xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
                    }
                }
            });

            $.ajaxPrefilter(function(options, originalOptions, jqXHR){
                var request_method = options['type'].toLowerCase();
                if ((request_method === 'post' || request_method === 'delete') && sameOrigin(options.url)) {
                    jqXHR.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
                }
            });

            var date = new Date();
            var d = date.getDate();
            var m = date.getMonth();
            var y = date.getFullYear();

            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                editable: false,
                eventLimit: false, // allow 'more' link when too many events
                selectable: false, //Allows a user to highlight multiple days or timeslots by clicking and dragging.
                selectHelper: false,
                events: '/schedule/api/occurrences?calendar_slug={{calendar_slug}}',
                loading: function(bool) {
                    if (bool) {
                        $('#loading').show();
                    }else{
                        $('#loading').hide();
                    }
                },
                eventRender: function(event, element) {
                    {#                    var s = element[0].className;#}
                    {#                    if(s.indexOf("fc-day-grid-event") < 0){#}
                    {#                        title = element.children().find( '.fc-time' );#}
                    {#                        var edit_url = "{% url 'admin:treatment_treatment_change' 12345 %}".replace(/12345/, event.event_id);#}
                    {#                        var edit_button = "<a class='button button-primary btn-action-calendar' href='"+ edit_url +#}
                    {#                                "'><span class='icon-edit'></span></a>"#}
                    {#                        var delete_url = "{% url 'admin:treatment_treatment_delete' 12345 %}".replace(/12345/, event.event_id);#}
                    {#                        var delete_button = "<a class='button button-red btn-action-calendar' href='"+ delete_url +#}
                    {#                                "'><span class='icon-remove'></span></a>"#}
                    {#                        title.prepend(edit_button + delete_button + '<br>');#}
                    {#                    }#}
                },
                dayClick: function(date, allDay, jsEvent, view) {
                    if (allDay) {
                        $('#calendar').fullCalendar('changeView', 'agendaWeek');
                        $("#calendar").fullCalendar('gotoDate', date);
                    }
                },
                eventClick: function(event, jsEvent, view) {
                    //console.log(event);
                    //var year = String(event.start.year());
                    //var month = String(event.start.get('month') + 1 );
                    //var day = String(event.start.date());
                    //var hour = String(event.start.hour());
                    //var minute = String(event.start.minute());
                    //var seccond = String(event.start.second());

                    var url_cancel = event.url_cancel; //'/schedule/occurrence/cancel/' + String(event.event_id)  + '/' + year + '/' + month + '/' + day + '/' + hour + '/' + minute + '/' + seccond + '/';
                    var url_edit = event.url_edit; //'/schedule/occurrence/edit/' + String(event.event_id)  + '/' + year + '/' + month + '/' + day + '/' + hour + '/' + minute + '/' + seccond + '/';
                    var html_content = '<h3>' + event.title + '</h3>' +
                            '<p>' + event.description + '</p>' +
                            '<strong>Init </strong> ' + String(event.start) +
                            '<br><strong>End </strong> ' + String(event.end);

                    var html_footer = '<a class="button button-primary first" href="'+ url_edit +'">Edit</a>' +
                            '<a class="button button-red last" href="'+ url_cancel +'">Cancel</a>';

                    (function ($) {
                        $("#dialog-content").html(html_content);
                        $("#dialog-footer").html(html_footer);
                        $('#dialog').dialog({
                            draggable: false,
                            modal: true,
                            title: event.title,
                            width: 350,
                            maxWidth: '100%'
                        });

                    })(jet.jQuery);
                },
                eventDrop: function(event,delta,revertFunc) {
                    $.ajax({
                        type: 'POST',
                        url: "{% url 'api_move_or_resize' %}",
                        dataType: 'json',
                        data : {
                            'id': event.id,
                            'event_id' : event.event_id,
                            'existed' : event.existed,
                            'delta' : delta.asMinutes()
                        },
                        success : function(result) {
                            if (result.success) $('#feedback input').attr('value', '');
                            $('#calendar').fullCalendar('refetchEvents');
                        },
                        error : function(req, status, error) {
                            console.log(error);
                        }
                    });
                    return false;
                },
                eventResize: function(event,delta,revertFunc) {
                    $.ajax({
                        type: 'POST',
                        url: "{% url 'api_move_or_resize' %}",
                        dataType: 'json',
                        data : {
                            'id': event.id,
                            'event_id' : event.event_id,
                            'existed' : event.existed,
                            'delta' : delta.asMinutes(),
                            'resize' : true
                        },
                        success : function(result) {
                            if (result.success) $('#feedback input').attr('value', '');
                            $('#calendar').fullCalendar('refetchEvents');
                        },
                        error : function(req, status, error) {
                            console.log(error);
                        }
                    });
                    return false;
                },
                select: function( start, end, jsEvent, view  ) {
                    if(jsEvent.toElement.className == 'fc-bg'){
                        $.ajax({
                            type: 'POST',
                            url: "{% url 'api_select_create' %}",
                            dataType: 'json',
                            data : {
                                'start': start.toISOString(),
                                'end' : end.toISOString(),
                                'calendar_slug' : '{{calendar_slug}}'
                            },
                            success : function(result) {
                                console.log(result);
                                if (result.success) $('#feedback input').attr('value', '');
                                $('#calendar').fullCalendar('refetchEvents');
                            },
                            error : function(req, status, error) {
                                console.log(error);
                            }
                        });
                        $('#calendar').fullCalendar('unselect');
                        return false;
                    }
                }
            });
        });
    </script>

    <script src="{% static 'jet/js/select2.jet.js' %}"></script>
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        &rsaquo; {% trans 'Calendar' %}
    </div>
{% endblock %}

{% block content %}

    <div id="content-main">
            {% block object-tools %}
                <ul class="object-tools fr">
                    {% block object-tools-items %}
                        <li><a href="{% url 'admin:treatment_event_add' %}" class="addlink">{% trans 'Add treatment' %}</a></li>
                    {% endblock %}
                </ul>
            {% endblock %}


        <div class=" filtered" id="changelist">
            <div class="cf">
                <div id="changelist-filter" class="changelist-filter background-form">
                    <form id="changelist-search" action="" method="get">
                        <select class="changelist-filter-select" tabindex="-1" aria-hidden="true">
                            <option data-url="?">therapist</option>
                            <option disabled="">---</option>
                            {% for therapist in therapists %}
                                <option value="{{ therapist.id }}">{{ therapist }}</option>
                            {% endfor %}
                        </select>

                        <!--<span class="select2 select2-container select2-container--jet" dir="ltr" style="width: 89px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-autocomplete="list" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-uhiq-container"><span class="select2-selection__rendered" id="select2-uhiq-container" title="therapist">therapist</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>-->

                        <select class="changelist-filter-select" tabindex="-1" aria-hidden="true">
                            <option data-url="?">patient</option>
                            <option disabled="">---</option>
                            {% for patient in patients %}
                                <option value="{{ patient.id }}">{{ patient }}</option>
                            {% endfor %}
                        </select>
                        <!--<span class="select2 select2-container select2-container--jet" dir="ltr" style="width: 90px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-autocomplete="list" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-be9k-container"><span class="select2-selection__rendered" id="select2-be9k-container" title="patient">patient</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>-->

                    </form>
                </div>
            </div>
        </div>

        <div class="changeform">
            <div id='calendar'></div>
        </div>

        <div id="dialog">
            <div id="dialog-content"></div>
            <div id="dialog-footer" ></div>
        </div>
    </div>
{% endblock %}
