{% extends "admin/base_site.html" %}
{% load i18n staticfiles scheduletags %}
{% load personpermission %}
{% block head_title %}{% trans 'Fullcalendar' %}{% endblock %}
{% block tab_id %}id='home_tab'{% endblock %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static "schedule.css" %}" type="text/css" media="screen">
    <script type="text/javascript" src="{% static "bower_components/jquery/dist/jquery.js" %}"></script>
    <link rel='stylesheet' type='text/css' href='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.1/fullcalendar.min.css'>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.js'></script>

    <script type="text/javascript" src="{% static "bower_components/fullcalendar-master/dist/fullcalendar.js" %}"></script>

    <style>
        .btn-action-calendar{
            padding: 3px !important;
            line-height: 15px !important;
            width: 15px !important;
            height: 15px !important;
            margin-right: 5px !important;
            float: right;
            box-sizing: inherit !important;
        }
        #dialog-footer{
            margin-top: 10px;
        }
        #dialog-footer .button{
            margin-left: 5px;
            margin-right: 5px;
        }

        #dialog-footer .button.first{
            margin-left: 0px;
        }

        #dialog-footer .button.last{
            margin-right: 0px;
        }
    </style>
    <script type='text/javascript'>

    $(document).ready(function() {

        var therapist_filter_selected = '';

        var patient_filter_selected = '';

        var select_therapist = $("#select_therapist");
        var select_patient = $("#select_patient");

        function getURLParameter(name) {
            return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search)||[,""])[1].replace(/\+/g, '%20'))||null
        }

        $("#submit-filter").click(function(){

            var patient_selected = select_patient.val();

            {% if request.user|can_filter_by_therapist %}
                var therapist_selected = select_therapist.val();
                if(therapist_selected != 'null' && therapist_selected != '0'){
                    therapist_filter_selected = therapist_selected;
                }else{
                    therapist_filter_selected = '';
                }
            {% endif %}

            if(patient_selected != 'null' && patient_selected != '0'){
                patient_filter_selected = patient_selected;
            }else{
                patient_filter_selected = '';
            }
            url = document.location.href;
            url = updateQueryStringParameter(url, 'therapist', therapist_filter_selected);
            url = updateQueryStringParameter(url, 'patient', patient_filter_selected);
            document.location.href = url;
        });

        function updateQueryStringParameter(uri, key, value) {
            var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
            var separator = uri.indexOf('?') !== -1 ? "&" : "?";
            if (uri.match(re)) {
                return uri.replace(re, '$1' + key + "=" + value + '$2');
            }
            else {
                return uri + separator + key + "=" + value;
            }
        }

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function sameOrigin(url) {
            // test that a given url is a same-origin URL
            // url could be relative or scheme relative or absolute
            var host = document.location.host; // host + port
            var protocol = document.location.protocol;
            var sr_origin = '//' + host;
            var origin = protocol + sr_origin;
            // Allow absolute or scheme relative URLs to same origin
            return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                    (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                // or any other URL that isn't scheme relative or absolute i.e relative.
                    !(/^(\/\/|http:|https:).*/.test(url));
        }

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                    // Only send the token to relative URLs i.e. locally.
                    xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
                }
            }
        });

        $.ajaxPrefilter(function(options, originalOptions, jqXHR){
            var request_method = options['type'].toLowerCase();
            if ((request_method === 'post' || request_method === 'delete') && sameOrigin(options.url)) {
                jqXHR.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
            }
        });

        var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();

        function makeUrlParams(){
            var url = '';
            {% if request.user|can_filter_by_therapist %}
                var therapist = getURLParameter('therapist');
                if(therapist){ url += '&therapist=' + String(therapist); }
            {% else %}
                url += '&therapist={{ request.user.therapist.id }}';
            {% endif %}

            var patient = getURLParameter('patient');
            if(patient){ url += '&patient=' + String(patient); }

            return url;
        }

        var base_url = '/scheduler/api/occurrences?calendar_slug={{calendar_slug}}';

        var fullcalendar = $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            editable: false,
            eventLimit: true, // allow 'more' link when too many events
            selectable: false, //Allows a user to highlight multiple days or timeslots by clicking and dragging.
            selectHelper: false,
            events: function(start, end, timezone, callback) {
                var get_url = base_url;

                get_url += makeUrlParams();
                $.ajax({
                    url: get_url,
                    dataType: 'json',
                    data: {
                        // our hypothetical feed requires UNIX timestamps
                        start: start.unix(),
                        end: end.unix()
                    },
                    success: function(events) {
                        callback(events);
                    }
                });



            },
            slotDuration: '01:00:00',
            minTime: '08:00',
            maxTime: '19:00',

            {% if availability %}
                businessHours:[
                    {% for i in availability  %}
                        {
                            start: '{{ i.hour_init|time:"H:i" }}',
                            end: '{{ i.hour_end|time:"H:i" }}',
                            dow: [{{ i.day }}]
                        },
                    {% endfor %}
                ],
            {% else %}
                businessHours: {
                    start: '8:00', // a start time (10am in this example)
                    end: '19:00', // an end time (6pm in this example)

                    dow: [ 1, 2, 3, 4, 5 ]
                    // days of week. an array of zero-based day of week integers (0=Sunday)
                    // (Monday-Thursday in this example)
                },
            {% endif %}

            loading: function(bool) {
                if (bool) {
                    $('#loading').show();
                }else{
                    $('#loading').hide();
                }
            },
            eventRender: function(event, element) {
                {#                    var s = element[0].className;#}
                {#                    if(s.indexOf("fc-day-grid-event") < 0){#}
                {#                        title = element.children().find( '.fc-time' );#}
                {#                        var edit_url = "{% url 'admin:treatment_treatment_change' 12345 %}".replace(/12345/, event.event_id);#}
                {#                        var edit_button = "<a class='button button-primary btn-action-calendar' href='"+ edit_url +#}
                {#                                "'><span class='icon-edit'></span></a>"#}
                {#                        var delete_url = "{% url 'admin:treatment_treatment_delete' 12345 %}".replace(/12345/, event.event_id);#}
                {#                        var delete_button = "<a class='button button-red btn-action-calendar' href='"+ delete_url +#}
                {#                                "'><span class='icon-remove'></span></a>"#}
                {#                        title.prepend(edit_button + delete_button + '<br>');#}
                {#                    }#}
            },
            dayClick: function(date, allDay, jsEvent, view) {
                if (allDay) {
                    $('#calendar').fullCalendar('changeView', 'agendaWeek');
                    $("#calendar").fullCalendar('gotoDate', date);
                }
                {% if request.user|can_filter_by_therapist %}
                if(jsEvent.name != 'month'){
                    var paramsUrl = makeUrlParams();
                    var datetime = String(date.year())+ "-" + String(date.get('month') + 1 ) + "-" + String(date.day()) + 'T' + String(date.hour()) + ":" + String(date.minute());
                    window.location = '/treatment/event/add/?initial_start=' + datetime + paramsUrl;
                }
                {% endif %}

            },
            eventClick: function(event, jsEvent, view) {

                var html_content = '<h3>' + event.patient + '</h3>' +
                        '<p>' + event.description + '</p>' +
                        '<strong>Init </strong> ' + String(event.start) +
                        '<br><strong>End </strong> ' + String(event.end) + '<hr/><br>' +
                        '<strong>Therapist </strong>' + String(event.therapist);


                var button_cancel = "";

                if(event.cancelled){
                    button_cancel = '<a class="button button-primary last" href="'+ event.url_cancel +'">Uncancel</a>'
                }else{
                    button_cancel = '<a class="button button-red last" href="'+ event.url_cancel +'">Cancel</a>'
                }

                var html_footer = '<a class="button button-secondary first" href="'+ event.url_edit +'">Edit</a>' + button_cancel;

                (function ($) {
                    $("#dialog-content").html(html_content);
                    $("#dialog-footer").html(html_footer);
                    $('#dialog').dialog({
                        draggable: false,
                        modal: true,
                        title: event.patient,
                        width: 350,
                        maxWidth: '100%'
                    });

                })(jet.jQuery);
            },
            eventDrop: function(event,delta,revertFunc) {
                $.ajax({
                    type: 'POST',
                    url: "{% url 'api_move_or_resize' %}",
                    dataType: 'json',
                    data : {
                        'id': event.id,
                        'event_id' : event.event_id,
                        'existed' : event.existed,
                        'delta' : delta.asMinutes()
                    },
                    success : function(result) {
                        if (result.success) $('#feedback input').attr('value', '');
                        $('#calendar').fullCalendar('refetchEvents');
                    },
                    error : function(req, status, error) {
                        console.log(error);
                    }
                });
                return false;
            },
            eventResize: function(event,delta,revertFunc) {
                $.ajax({
                    type: 'POST',
                    url: "{% url 'api_move_or_resize' %}",
                    dataType: 'json',
                    data : {
                        'id': event.id,
                        'event_id' : event.event_id,
                        'existed' : event.existed,
                        'delta' : delta.asMinutes(),
                        'resize' : true
                    },
                    success : function(result) {
                        if (result.success) $('#feedback input').attr('value', '');
                        $('#calendar').fullCalendar('refetchEvents');
                    },
                    error : function(req, status, error) {
                        console.log(error);
                    }
                });
                return false;
            },
            select: function( start, end, jsEvent, view  ) {
                console.log("SELECT");
                console.log(start);
                console.log(end);
                console.log(jsEvent);
                console.log(jsEvent.toElement);
                if(jsEvent.toElement.className == 'fc-bg'){
                    $.ajax({
                        type: 'POST',
                        url: "{% url 'api_select_create' %}",
                        dataType: 'json',
                        data : {
                            'start': start.toISOString(),
                            'end' : end.toISOString(),
                            'calendar_slug' : '{{calendar_slug}}'
                        },
                        success : function(result) {
                            console.log(result);
                            if (result.success) $('#feedback input').attr('value', '');
                            $('#calendar').fullCalendar('refetchEvents');
                        },
                        error : function(req, status, error) {
                            console.log(error);
                        }
                    });
                    $('#calendar').fullCalendar('unselect');
                    return false;
                }else{
                    (function ($) {
                        $("#dialog-content").html("<p>El therapeuta no esta disponible en el horario seleccionado</p>");
                        $('#dialog').dialog({
                            draggable: false,
                            modal: true,
                            title: event.patient,
                            width: 350,
                            maxWidth: '100%'
                        });

                    })(jet.jQuery);
                }
            }
        });
    });
    </script>

    <script src="{% static 'jet/js/select2.jet.js' %}"></script>
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        &rsaquo; <a href="/treatment/">{% trans 'Treatments' %}</a>
        &rsaquo; <a href="{% url 'occurrences_list' 'treatments' %}">{% trans 'Appointments' %}</a>
        &rsaquo; {% trans 'Appointments on calendar' %}
    </div>
{% endblock %}

{% block content %}

    <div id="content-main">
        {% block object-tools %}
            <ul class="object-tools fr">
                {% block object-tools-items %}
                {% if request.user|can_filter_by_therapist %}
                    <li><a href="{% url 'admin:treatment_event_add' %}" class="addlink">{% trans 'Add event' %}</a></li>
                {% endif %}
                {% endblock %}
            </ul>
        {% endblock %}


        <div class=" filtered" id="changelist">
            <div class="cf">
                <div id="changelist-filter" class="changelist-filter background-form">
                    <form id="changelist-search" action="" method="get">
                        {% if request.user|can_filter_by_therapist %}
                            <select class="changelist-filter-select" id="select_therapist" tabindex="-1" aria-hidden="true">
                                <option value="null">therapist</option>
                                <option value="0">---</option>
                                {% for therapist in therapists %}


                                    <option value="{{ therapist.id }}"
                                            {% ifequal request.GET.therapist|add:"0" therapist.id|add:"0" %}
                                            selected="selected"
                                            {% endifequal %}>{{ therapist }}</option>
                                {% endfor %}
                            </select>
                        {% endif %}
                        <select class="changelist-filter-select" id="select_patient" tabindex="-1" aria-hidden="true">
                            <option value="null">patient</option>
                            <option value="0">---</option>
                            {% for patient in patients %}
                                <option value="{{ patient.id }}"
                                        {% ifequal request.GET.patient|add:"0" patient.id|add:"0" %}
                                        selected="selected"
                                        {% endifequal %}>{{ patient }}</option>
                            {% endfor %}
                        </select>

                        <button type="button" class="button button-primary" id="submit-filter">{% trans 'search' %}</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="changeform">
            <div id='calendar'></div>
        </div>

        <div id="dialog">
            <div id="dialog-content"></div>
            <div id="dialog-footer" ></div>
        </div>
    </div>
{% endblock %}
