{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_list jet_tags %}

{% block content_title %}{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    {% if cl.formset or action_form %}
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
    {% endif %}
    {{ media.css }}

    <style>
        .input-filter{
            margin-right: 5px;
            margin-left: 5px;
        }
        .input-filter.last{
            margin-right: 0px;
        }
        .input-filter.first{
            margin-left: 0px;
        }
    </style>
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    {{ media.js }}
    {% if action_form %}{% if actions_on_top or actions_on_bottom %}
        <script type="text/javascript">
        (function($) {
            $(document).ready(function($) {
                $("tr input.action-select").actions();
            });
        })(django.jQuery);
        </script>
    {% endif %}{% endif %}
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        &rsaquo; <a href="/treatment/">{% trans 'Treatments' %}</a>
        &rsaquo; {% trans 'Appointments' %}
    </div>
{% endblock %}


{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-list{% endblock %}

 {% comment %}
{% if not is_popup %}
    {% block breadcrumbs %}
        <div class="breadcrumbs">
            <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
            &rsaquo; <a href="{% url 'admin:app_list' app_label=cl.opts.app_label %}">{% if cl.opts.app_config.verbose_name %}{{ cl.opts.app_config.verbose_name }}{% else %}{% trans app_label as app_label %}{{ app_label|capfirst|escape }}{% endif %}</a>
            &rsaquo; {{ cl.opts.verbose_name_plural|capfirst }}
        </div>
    {% endblock %}
{% endif %}
 {% endcomment %}

{% block coltype %}flex{% endblock %}




{% block content %}


  <div id="content-main">
    {% block object-tools %}
        <ul class="object-tools fr">
                {% block object-tools-items %}
                    <li><a target="_blank" href="{% url 'occurrences_list_to_pdf' 'treatments' %}?{{ request.META.QUERY_STRING }}" class="addlink">{% trans 'Export pdf' %}</a></li>
                {% endblock %}
            </ul>

    {% endblock %}

  {% include "admin_custom_view/change_list.html" %}



    {% if cl.formset.errors %}
        <p class="errornote">
        {% if cl.formset.total_error_count == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
        </p>
        {{ cl.formset.non_form_errors }}
    {% endif %}

    <div class="{% if cl.has_filters %} filtered{% endif %}" id="changelist">
        <div class="cf">
            <div class="changelist-filter background-form">
                {% comment %}
                {% block search %}{% search_form cl %}{% endblock %}
                {% block date_hierarchy %}{% date_hierarchy cl %}{% endblock %}
                {% endcomment %}
            </div>
        </div>

        <form action="" method="post"{% if cl.formset.is_multipart %} enctype="multipart/form-data"{% endif %} novalidate>{% csrf_token %}
            {% if cl.formset %}
                <div>{{ cl.formset.management_form }}</div>
            {% endif %}

            {% block result_list %}
            {% comment %}
                {% result_list cl %}
            {% endcomment %}

                {% if cl.full_result_count %}
                    <div class="changelist-footer background-form{% if is_popup %} popup{% endif %}">
                        {% if action_form and cl.show_admin_actions != False and actions_on_top or actions_on_bottom %}{% admin_actions %}{% endif %}

                        <div class="fr">
                          {% block pagination %}{% pagination cl %}{% endblock %}
                        </div>
                    </div>
                {% endif %}
            {% endblock %}
        </form>
    </div>
  </div>
{% endblock %}
