{% extends "admin/base_site.html" %}
{% load i18n %}



{% block extrahead %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>

    <script src="//maps.google.com/maps/api/js?sensor=false"></script>

    <script>
        var map;
        var occurrence_position = [];

        function clearMapPositions() {
            occurrence_position.forEach(function(occurrencePosition) {
                occurrencePosition.setMap(null);
            });
        }

        function getParameterByName(name) {
            name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
            var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                    results = regex.exec(location.search);
            return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
        }


        function getOccurrence(start_date, end_date){
            $.ajax({
                type: 'GET',
                url: "/scheduler/api/occurrences/?start=" + start_date + "&end=" + end_date,
                dataType: 'json',
                success : function(result) {
                    clearMapPositions();
                    if(result.length > 0){
                        $("#hasnotresult").css('display', 'none');
                        map.setCenter({ 'lat': Number(result[0].position.lat), 'lng': Number(result[0].position.lng)});

                        for(var i=0; i < result.length; i++){
                            var marker = new google.maps.Marker({
                                position: { 'lat': Number(result[i].position.lat), 'lng': Number(result[i].position.lng)},
                                map: map,
                                title: result[i].title,
                                content: result[i]
                            });
                            occurrence_position.push(marker);

                            google.maps.event.addListener(marker, 'click', function(event) {
                                //console.log($(this)[0].content);
                                var event = $(this)[0].content;
                                var html_content = '<h3>' + event.title + '</h3>' +
                                        '<p>' + event.description + '</p>' +
                                        '<strong>Init </strong> ' + String(event.start) +
                                        '<br><strong>End </strong> ' + String(event.end);

                                var button_cancel = "";

                                console.log("IS CANCELLED");
                                console.log(event);
                                if(event.cancelled){
                                    button_cancel = '<a class="button button-primary last" href="'+ event.url_cancel +'">Uncancel</a>'
                                }else{
                                    button_cancel = '<a class="button button-red last" href="'+ event.url_cancel +'">Cancel</a>'
                                }

                                var html_footer = '<a class="button button-secondary first" href="'+ event.url_edit +'">Edit</a>' + button_cancel;

                                (function ($) {
                                    $("#dialog-content").html(html_content);
                                    $("#dialog-footer").html(html_footer);
                                    $('#dialog').dialog({
                                        draggable: false,
                                        modal: true,
                                        title: event.title,
                                        width: 350,
                                        maxWidth: '100%'
                                    });

                                })(jet.jQuery);
                            });
                        }
                    }else{
                        $("#hasnotresult").css('display', 'inline-block');
                    }

                },
                error : function(req, status, error) {
                    console.log(error);
                }
            });
        }

        (function ($) {
            $('.form-row .datetime1').each(function () {
                var $dateTime = $(this);
                var $dateField = $dateTime.find('.vDateField');
                removePreviousSibling($dateField);
            });

            //$("#filter_date").change(function(a, b){
            //    console.log("CHANGE FILTER DATE");
            //    console.log($(this).val());
            //    console.log($(this).getDate())
            //});
        })(jet.jQuery);

        $(document).ready(function() {
            var mapSettings = {
                zoom: 12,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map = new google.maps.Map($("#mapa").get(0), mapSettings);

            //console.log(getParameterByName('end_date'));
            var param_start_date =  getParameterByName('start_date');
            if(param_start_date){
                var start_date = String(param_start_date);
                var date_cast = start_date.split('-');
                var end_date = date_cast[0] + '-' + date_cast[1] + '-' + String(Number(date_cast[2]) + 1);
                $("#filter_date").val(start_date);
                getOccurrence(start_date, end_date);
            }else{
                var today = new Date();
                var dd = today.getDate();
                var mm = today.getMonth()+1; //January is 0!
                var yyyy = today.getFullYear();
                var cast_day = String(yyyy) + '-' + String(mm) + '-' + String(dd);
                var cast_end_day = String(yyyy) + '-' + String(mm) + '-' + String(dd + 1);

                $("#filter_date").val(cast_day);

                getOccurrence(cast_day, cast_end_day);
            }


            $("#submit-filter").click(function(){
                var start_date = $("#filter_date").val();
                var date_cast = String(start_date).split('-');
                var end_date = date_cast[0] + '-' + date_cast[1] + '-' + String(Number(date_cast[2]) + 1);

                getOccurrence(start_date, end_date);
            });
        });


    </script>
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        &rsaquo; <a href="/treatment/">{% trans 'Treatments' %}</a>
        &rsaquo; <a href="{% url 'occurrences_list' 'treatments' %}">{% trans 'Appointments' %}</a>
        &rsaquo; {% trans 'Appointments on map' %}
    </div>
{% endblock %}


{% block content %}

    <div id="content-main">
        {% block object-tools %}
            {#            <ul class="object-tools fr">#}
            {#                {% block object-tools-items %}#}
            {#                    <li><a href="{% url 'admin:treatment_event_add' %}" class="addlink">{% trans 'Add treatment' %}</a></li>#}
            {#                {% endblock %}#}
            {#            </ul>#}



            <div class=" filtered" id="changelist">
                <div class="cf">
                    <div id="changelist-filter" class="changelist-filter background-form">
                        <form id="changelist-search" action="" method="get">

                            <div class="form-row">
                                <div class="datetime1">
                                    {% trans 'Day' %}: <input class="vDateField" id="filter_date" name="start_0" size="10" type="text" />
                                    <button type="button" class="button button-primary" id="submit-filter">{% trans 'search' %}</button>
                                    <div id="hasnotresult" style="display: none; color: #990000;">
                                        {% trans 'No hay resultados en el día seleccionado' %}
                                    </div>
                                </div>

                            </div>



                        </form>
                    </div>
                </div>
            </div>
        {% endblock %}
        <div class="changeform">
            <div id="mapa" style="height: 500px; width: 90%; margin-left: 5%;">

            </div>
        </div>

        <div id="dialog">
            <div id="dialog-content"></div>
            <div id="dialog-footer" ></div>
        </div>

        <div id="dialog">
            <div id="dialog-content"></div>
            <div id="dialog-footer" ></div>
        </div>
    </div>
{% endblock %}