{% load i18n admin_static jet_tags %}

<html>
<head>

    <title>{% block title %}{% endblock %}</title>
    <meta name="copyright" content="geex-arts.com">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <meta name="pdfkit-page-size" content="Legal"/>
    <meta name="pdfkit-orientation" content="Landscape"/>

</head>
<body>
<style>
@charset "UTF-8";
.table, #changelist table, table#change-history {
    background: #fff;
    border-collapse: collapse;
    border-radius: 4px;
    margin-bottom: 2px;
    overflow-x: auto;
    width: 100%; }
.table.helper, #changelist table.helper, table.helper#change-history {
    display: none;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 20px;
    width: auto;
    border-radius: 0;
    box-shadow: none; }
.table.helper thead th, #changelist table.helper thead th, table.helper#change-history thead th {
    border-radius: 0 !important; }
.table caption, #changelist table caption, table#change-history caption {
    border-radius: 4px;
    padding: 6px;
    text-align: left;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold; }
.table caption a, #changelist table caption a, table#change-history caption a {
    color: #6f7e95;
    font-size: 11px;
    font-weight: bold; }
.table thead th, #changelist table thead th, table#change-history thead th {
    background: #59677e;
    padding: 8px;
    font-size: 12px;
    font-weight: normal;
    text-align: left;
    white-space: nowrap; }
.table thead th, #changelist table thead th, table#change-history thead th, .table thead th a, #changelist table thead th a, table#change-history thead th a, .table thead th a:visited, #changelist table thead th a:visited, table#change-history thead th a:visited, .table thead th a:hover, #changelist table thead th a:hover, table#change-history thead th a:hover {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase; }
.table thead th:first-child, #changelist table thead th:first-child, table#change-history thead th:first-child {
    border-radius: 4px 0 0 0; }
.table thead th:last-child, #changelist table thead th:last-child, table#change-history thead th:last-child {
    border-radius: 0 4px 0 0; }
.table thead th:first-child:last-child, #changelist table thead th:first-child:last-child, table#change-history thead th:first-child:last-child {
    border-radius: 4px 4px 0 0; }
.table thead th.action-checkbox-column, #changelist table thead th.action-checkbox-column, table#change-history thead th.action-checkbox-column {
    width: 20px;
    text-align: center; }
.table thead th.sorted .sortoptions, #changelist table thead th.sorted .sortoptions, table#change-history thead th.sorted .sortoptions {
    display: inline-block; }
.table thead th.sorted .sortoptions .sortpriority, #changelist table thead th.sorted .sortoptions .sortpriority, table#change-history thead th.sorted .sortoptions .sortpriority {
    background: #fff;
    color: #6f7e95;
    padding: 2px 8px;
    margin-right: 2px;
    border-radius: 12px; }
.table thead th.sorted .text, #changelist table thead th.sorted .text, table#change-history thead th.sorted .text {
    display: inline-block; }
.table thead th.sorted .text:after, #changelist table thead th.sorted .text:after, table#change-history thead th.sorted .text:after {
    font-family: 'jet-icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    margin-left: 4px; }
.table thead th.sorted.ascending .text:after, #changelist table thead th.sorted.ascending .text:after, table#change-history thead th.sorted.ascending .text:after {
    content: ""; }
.table thead th.sorted.descending .text:after, #changelist table thead th.sorted.descending .text:after, table#change-history thead th.sorted.descending .text:after {
    content: ""; }
.table tbody tr, #changelist table tbody tr, table#change-history tbody tr {
    border-bottom: 1px solid #f4f4f4; }
.table tbody tr:last-child, #changelist table tbody tr:last-child, table#change-history tbody tr:last-child {
    border-bottom: 0; }
.table tbody tr th, #changelist table tbody tr th, table#change-history tbody tr th {
    text-align: left; }
.table tbody tr th, #changelist table tbody tr th, table#change-history tbody tr th, .table tbody tr td, #changelist table tbody tr td, table#change-history tbody tr td {
    padding: 8px;
    font-size: 13px; }
.table tbody tr th.action-checkbox, #changelist table tbody tr th.action-checkbox, table#change-history tbody tr th.action-checkbox, .table tbody tr td.action-checkbox, #changelist table tbody tr td.action-checkbox, table#change-history tbody tr td.action-checkbox {
    text-align: center; }
.table tbody tr.selected, #changelist table tbody tr.selected, table#change-history tbody tr.selected {
    border-color: #e5e2a5; }
.table tbody tr.selected:last-child th:first-child, #changelist table tbody tr.selected:last-child th:first-child, table#change-history tbody tr.selected:last-child th:first-child, .table tbody tr.selected:last-child td:first-child, #changelist table tbody tr.selected:last-child td:first-child, table#change-history tbody tr.selected:last-child td:first-child {
    border-radius: 0 0 0 4px; }
.table tbody tr.selected:last-child th:last-child, #changelist table tbody tr.selected:last-child th:last-child, table#change-history tbody tr.selected:last-child th:last-child, .table tbody tr.selected:last-child td:last-child, #changelist table tbody tr.selected:last-child td:last-child, table#change-history tbody tr.selected:last-child td:last-child {
    border-radius: 0 0 4px 0; }
.table tbody tr.selected th, #changelist table tbody tr.selected th, table#change-history tbody tr.selected th, .table tbody tr.selected td, #changelist table tbody tr.selected td, table#change-history tbody tr.selected td {
    background-color: #fffcc0; }
.table tbody tr.contrast, #changelist table tbody tr.contrast, table#change-history tbody tr.contrast {
    background: #f6fafc; }
.table tbody tr.contrast2, #changelist table tbody tr.contrast2, table#change-history tbody tr.contrast2 {
    background: #59677e;
    color: #fff;
    border: 0; }
.table tbody tr.contrast2 a, #changelist table tbody tr.contrast2 a, table#change-history tbody tr.contrast2 a, .table tbody tr.contrast2 a:visited, #changelist table tbody tr.contrast2 a:visited, table#change-history tbody tr.contrast2 a:visited, .table tbody tr.contrast2 a:hover, #changelist table tbody tr.contrast2 a:hover, table#change-history tbody tr.contrast2 a:hover {
    color: #fff; }
.table tbody tr.contrast3, #changelist table tbody tr.contrast3, table#change-history tbody tr.contrast3 {
    background: #d0dbe6; }



</style>
<div id="content-main">
    <p style="text-align: right; color: #c0c0c0;">Jun 15 january 2015</p>
    <h3 style="text-align: center; margin-bottom: 40px;">Turns/Event list</h3>
    {% include 'admin_custom_view/change_list_results.html' with user=auth_user %}
</div>
</body>
</html>








