{% load i18n admin_static scheduletags %}
{% load personpermission %}
{% if results %}
    <div class="results">
        <table id="result_list" class="table">
            <thead>
            <tr>
                {% for header in result_headers %}
                    <th scope="col" class="column-{{ header }}">
                        <div class="text"><span>{{ header|capfirst }}</span></div>
                        <div class="clear"></div>
                    </th>{% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for result in results %}
                <tr class="{% cycle 'row1' 'row2' %}">
                    <td class="column-status">
                        {% if result.status == 0 %}
                            <a href="{{ result.url_edit }}"><div style="background-color: #c14747; width: 20px; height: 20px; border-radius: 50%;"></div></a>
                        {% elif result.status == 1 %}
                            <a href="{{ result.url_edit }}"> <div style="background-color: #82b982; width: 20px; height: 20px; border-radius: 50%;"></div></a>
                        {% else %}
                            <a href="{{ result.url_edit }}"> <div style="background-color: #3050b2; width: 20px; height: 20px; border-radius: 50%;"></div></a>
                        {% endif %}
                    </td>
                    <!--<td class="column-status">-->
                        <!--{% if result.cancelled %}-->
                            <!--<a href="{{ result.url_edit }}"><div style="background-color: #c14747; width: 20px; height: 20px; border-radius: 50%;"></div></a>-->
                        <!--{% else %}-->
                            <!--<a href="{{ result.url_edit }}"> <div style="background-color: #82b982; width: 20px; height: 20px; border-radius: 50%;"></div></a>-->
                        <!--{% endif %}-->
                    <!--</td>-->
                    <td class="column-therapist">{{ result.therapist }}</td>
                    <td class="column-patient">{{ result.patient }}</td>
                    <td class="column-start">{{ result.start }}</td>
                    <td class="column-end">{{ result.end }}</td>
                    {% if user|can_filter_by_therapist %}
                        <td class="column-price">
                            $ {{ result.price }}
                        </td>
                        <td class="column-therapist-fee">
                            $ {{ result.therapist_fee }}
                        </td>

                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <span style="float: left; font-weight: bold;">
        Total result {{ results|length }}
    </span>
    {% if user|can_filter_by_therapist %}
        <h3 style="text-align: right; padding-right: 20px;">{% trans 'Total amount..' %} $ {{ total_amount|floatformat }}</h3>
        <h3 style="text-align: right; padding-right: 20px;">{% trans 'Total therapist amount..' %} $ {{ total_therapist_amount|floatformat }}</h3>
    {% endif %}

{% else %}
    <h3>There's no Results</h3>
{% endif %}
