<style>
    @media (max-width: 600px) {
        #form-row-filtered{
            display: block !important;
        }
        .changelist-filter.background-form{
            display: block;
        }

        .column-therapist, .column-patient{
            display: none;
        }

        .results{
            margin-right: -20px;
            margin-left: -20px;
        }
        /*#result_list{
            display: block;
        }*/

    }
    .select2.select2-container.select2-container--jet{
        margin-right: 5px;
    }
    .select2-container.select2-container--jet.select2-container--open .select2-dropdown.select2-dropdown--below{
        margin-top: -6px;
    }

    .button.button-primary.input-filter.last:hover{
        margin-left: 5px;
    }
</style>
{% load i18n %}
{% load personpermission %}
<div class=" filtered" id="changelist">
    <div class="cf">
        <div id="changelist-filter" class="changelist-filter background-form">
            <form id="changelist-search" action="">
                <div class="form-row" id="form-row-filtered" style="display: inline-flex;">
                    <div class="datetime1 input-filter first">
                        <input class="vDateField" id="start" name="start" size="10" type="text" value='{{start|date:"Y-m-d"}}'/>
                    </div>
                    <div class="datetime1 input-filter">
                        <input class="vDateField" id="end" name="end" size="10" type="text" value='{{end|date:"Y-m-d"}}'/>
                    </div>
                    {% if request.user|can_filter_by_therapist %}
                        <select style="min-width: 150px;" name="therapist" class="no-select2 input-filter  changelist-filter-select" tabindex="-1" aria-hidden="true">
                            <option disabled="" data-url="?">Therapist</option>
                            <option value="">Therapist</option>
                            {% for therapist in therapists %}
                                <option value="{{ therapist.id }}"
                                        {% ifequal request.GET.therapist|add:"0" therapist.id|add:"0" %} selected="selected" {% endifequal %}>
                                    {{ therapist }}
                                </option>
                            {% endfor %}
                        </select>
                    {% endif %}

                    <select style="min-width: 150px;" name="patient" class="no-select2 input-filter changelist-filter-select" tabindex="-1" aria-hidden="true">
                        <option disabled="" data-url="?">Client</option>
                        <option value="">Client</option>
                        {% for patient in patients %}
                            <option value="{{ patient.id }}"
                                    {% ifequal request.GET.patient|add:"0" patient.id|add:"0" %} selected="selected"{% endifequal %}>
                                {{ patient }}
                            </option>
                        {% endfor %}
                    </select>

                    <!--<select style="min-width: 80px;" name="status" class="no-select2 input-filter changelist-filter-select" tabindex="-1" aria-hidden="true">-->
                        <!--<option disabled="" data-url="?">Status</option>-->
                        <!--<option value="">Status</option>-->
                        <!--{% for key, label in STATUS_CHOICES %}-->
                            <!--<option value="{{ key }}"-->
                                    <!--{% ifequal request.GET.real_status|add:"0" key|add:"0" %} selected="selected" {% endifequal %} >-->
                                <!--{{ label }}-->
                            <!--</option>-->
                        <!--{% endfor %}-->
                    <!--</select>-->
                    <select style="min-width: 80px;" name="real_status" class="no-select2 input-filter changelist-filter-select" tabindex="-1" aria-hidden="true">
                        <option disabled="" data-url="?">Status</option>
                        <option value="">Status</option>
                        {% for key, label in REAL_STATUS_CHOICES %}
                            <option value="{{ key }}"
                                    {% ifequal request.GET.real_status|add:"0" key|add:"0" %} selected="selected" {% endifequal %} >
                                {{ label }}
                            </option>
                        {% endfor %}
                    </select>
                    <select style="min-width: 150px;" name="payment_method" class="no-select2 input-filter changelist-filter-select" tabindex="-1" aria-hidden="true">
                        <option disabled="" data-url="?">Payment method</option>
                        <option value="">Payment method</option>
                        {% for payment in payment_methods %}
                            <option value="{{ payment.id }}"
                                    {% ifequal request.GET.payment_method|add:"0" payment.id|add:"0" %} selected="selected" {% endifequal %} >
                                {{ payment }}
                            </option>
                        {% endfor %}
                    </select>
                    <button class="button button-primary input-filter last" type="submit">{% trans 'search' %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% include 'admin_custom_view/change_list_results.html' %}