{% load i18n admin_urls admin_static admin_modify %}
<div class="module" id="inline_module_0">
    <div class="inline-group" id="{{ formset.prefix }}-group">
        <div class="tabular inline-related last-related">
            {{ formset.management_form }}
            <fieldset class="module">
                {% if errors %}
                    <p class="errornote">
                        {% trans "Please correct the errors below." %}
                    </p>
                {% endif %}

                {{ formset.non_form_errors }}
                <table>
                    <thead>
                    <tr>
                        <th></th>
                        {% for field in formset.forms.0 %}
                            {% if not field.is_hidden %}
                                <th{% if field.required %} class="required"{% endif %}>{{ field.label|capfirst }}
                                    {% if field.help_text %}&nbsp;<img src="{% static "admin/img/icon-unknown.gif" %}" class="help help-tooltip" width="10" height="10" alt="({{ field.help_text|striptags }})" title="{{ field.help_text|striptags }}" />{% endif %}
                                </th>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    </thead>

                    <tbody>
                    {% for inline_form in formset.forms %}
                        <tr class="form-row {% cycle "row1" "row2" %} {% if inline_form.instance.id %} has_original{% endif %}" id="{% if inline_form.instance.id %}{{ formset.prefix }}-{{ forloop.counter0 }}{% else %}notes-empty{% endif %}">
                            <td class="original">
                                {% for field in inline_form.hidden_fields %}
                                    {{ field }}
                                {% endfor %}
                                {% if not inline_form.instance.id %}
                                    <span class="icon-new"></span>
                                {% endif %}
                            </td>
                            {% for field in inline_form.visible_fields %}
                                {% if not field.is_hidden %}
                                    {% if field.name != 'DELETE' %}
                                        <td class="field-{{ field.name }}">
                                            {{ field }}

                                        </td>
                                    {% else %}
                                        <td class="delete">{% if inline_form.instance.id %}{{ field }} {{ field.errors.as_ul }}{% endif %}</td>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </tr>
                        {% if inline_form.errors %}
                            <tr><td></td><td>{{ inline_form.errors }}</td></tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </fieldset>
        </div>
    </div>
</div>

<script type="text/javascript">

    (function($) {
        $(document).ready(function() {
            $("#{{ formset.prefix }}-group .tabular.inline-related tbody tr").tabularFormset({
                prefix: "{{ formset.prefix }}",
                adminStaticPrefix: '{% static "admin/" %}',
                addText: "<span class=\"icon-add\"></span> Add another Note",
                deleteText: "{% trans 'Remove' %}"
            });
        });
    })(django.jQuery);
</script>