{% extends "admin/base.html" %}
{% load i18n staticfiles %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
    <img src="{% static 'image/logo.png' %}" alt="" style="max-width: 90%; margin-left: 5%;"/>
{% endblock %}

{% block nav-global %}
    {% if request.user.is_authenticated %}
        <li class="sidebar-menu-item-list-item">
            <a href="{% url 'fullcalendar' 'treatments' %}" class="sidebar-menu-item-list-item-link">
                <span class="sidebar-menu-item-list-item-icon icon-calendar"></span> {% trans 'Calendar' %}
            </a>
            <a href="{% url 'occurrencemap' %}" class="sidebar-menu-item-list-item-link">
                <span class="sidebar-menu-item-list-item-icon icon-jet"></span> {% trans 'Map' %}
            </a>
        </li>
        <li class="sidebar-menu-item-list-item">
            <a href="{% url 'occurrences_list' 'treatments' %}" class="sidebar-menu-item-list-item-link">
                <span class="sidebar-menu-item-list-item-icon icon-book"></span> {% trans 'Appointments' %}
            </a>
        </li>
    {% endif %}
{% endblock %}